:root {
    --main-color-rgb: 212, 32, 38; 
}
*{margin: 0; padding: 0; font-family: 'Roboto', sans-serif}
.pagination a,
label,
td{-webkit-transition:all 0.3s ease-in-out;transition:all 0.3s ease-in-out;}
.main{display: -webkit-box;display: -ms-flexbox;display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; min-height: 100vh}
.main header,
.main footer,
.main .main-content{-webkit-box-flex: 0;-ms-flex: 0 0 auto;flex: 0 0 auto}
.main .pagination{-webkit-box-flex: 1;-ms-flex: 1 1 auto;flex: 1 1 auto; position: relative; min-height: 64px}
.container{padding: 0 42px; max-width: calc(1280px + 84px); width: 100%; margin: 0 auto; -webkit-box-sizing: border-box; box-sizing: border-box}
header .container{display: -webkit-box;display: -ms-flexbox;display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; padding-top: 20px; padding-bottom: 34px}
header h1,
header h2{font-size: 27px; font-weight: 900; color: rgb(var(--main-color-rgb)); text-transform: uppercase}
header h1:after{content: ''; width: 54px; height: 4px; background: rgb(var(--main-color-rgb)); display: block}
header h2,
header h1 span{font-weight: 300}
.main-content form{margin-bottom: 34px; position: relative; padding-top: 20px}
.main-content form button{display: none}
.main-content form label{position: absolute; z-index: 1; left: 0; top: 0; color: rgb(var(--main-color-rgb)); font-size: 16px; opacity: 1}
.main-content form input{position: relative; z-index: 2; -webkit-appearance:none; -moz-appearance:none; appearance:none; border:1px solid #A5A5A5; border-radius: 3px; font-size: 16px; padding: 5px; max-width: 400px; width: 100%; box-sizing: border-box}
.main-content form input:placeholder-shown + label{opacity: 0}
table{border:0; border-collapse: collapse; border-spacing:0; width: 100%}
table th,
table td{padding: 9px 10px; text-align: left; vertical-align: middle}
table th{background: rgb(var(--main-color-rgb)); color: #ffffff; font-weight: 400; font-size: 16px; width: 50%}
table th:nth-child(1),
table th:nth-child(2){border-right: 10px solid #fff; width: 25%}
table td{border-bottom: 2px solid rgba(var(--main-color-rgb),0.3); padding-top: 20px; padding-bottom: 20px; color: #4E4E4E; font-size: 21px}
table tr:hover td{background: rgba(var(--main-color-rgb),0.1)}
table img{width: 58px; height: 58px; -o-object-fit: cover; object-fit: cover; border-radius: 50%; margin-right: 25px; display: inline-block; vertical-align: middle}
.pagination ul{display: table}
.pagination .vertical-align{height: 100%; display: flex; align-items: center; justify-content: center; position: absolute; top: 0; left: 0; width: 100%}
.pagination li{padding: 16px 10px; display: table-cell}
.pagination li:not(.arrow) a{border:1px solid rgb(var(--main-color-rgb)); text-align: center; width: 30px; height: 30px; border-radius: 50%; display: block; line-height: 30px; color: rgb(var(--main-color-rgb)); text-decoration: none; font-size: 21px}
.pagination li:not(.arrow) a:hover,
.pagination li.current a{background: rgb(var(--main-color-rgb)); color: #fff}
.pagination li.disabled a{opacity: 0.35; pointer-events: none}
.pagination li.arrow{padding-left: 2px; padding-right: 2px}
.pagination li.arrow span{display: none}
.pagination li.arrow a{display: block; border:8px solid transparent; height: 0; width: 0px;}
.pagination li.arrow.left a{border-right-color: #D20A0A; border-right-width: 12px}
.pagination li.arrow.right a{border-left-color: #D20A0A; border-left-width: 12px}
footer{min-height: 16px; background: rgb(var(--main-color-rgb))}

@media only screen and (max-width:1024px) {
    .container{padding-left: 30px; padding-right: 30px}
    header h1, 
    header h2{font-size: 23px}
    header h1:after{width: 44px}
}